.page4{
    height: 100vh;
    width: 100%;
}
.elem{
    height: 100px;
    width: 100%;
    position: relative;
    background-color: orange;
    display: flex;
    align-items: center;
}
.brand-sections{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: right;
}
.brand-sections h1{
    font-size: 3.5vw;
}
.p-tag{
    font-family: neu;
    font-weight: 100;
}