.page2{
    min-height: 20vh;
    padding: 8vw 0;
}
.text-motion{
 white-space: nowrap;
 overflow-x: auto;
}
.text-motion::-webkit-scrollbar{
    display: none;
}
.con{
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.con h1{
    font-size: 9vw;
    display: inline-block;

}
.gola{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #FE4C13;
    display: inline-block;
    margin: 1vw 2vw;
}
@keyframes move {
    from{
        transform: translateX(0%);
    }to{
        transform: translateX(-100%);
    }
}